/*  Sidebar  */
#sidebar-wrapper{
    z-index: 1;
    position: absolute;
    width: 0;
    height: = 100%;
    overflow-y: hidden;
}

/*  Main content  */
#page-content-wrapper{
    width: 100%;
    position: absolute;
    padding 15px;
    border: 5px;
}

/*  Change width of sidebar for display  */
#wrapper.menuDisplayed #sidebar-wrapper{
       width: 250px;
}

 #wrapper.menuDisplayed #page-content-wrapper{
       padding-left: 250px;
}

.sidebar-nav{
    padding: 0;
    list-style: none;
}

.sidebar-nav li{
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a{
    display: block;
    text-decoration: none;
}

.sidebar-nav li a:hover{
    background: #091321;
}