segments_6

#   special folder cache or others
**/__pycache__/**
**.idea/**
**/.ipynb_checkpoints

# data folder
data/**

#   special file type
**.pyc
**.csv
**.yaml
**/reveal.js

# exception
!data/public
!database_storage/database/DatabaseSchema.yaml
