segments_6
app/taggingUI/__pycache__/taggingUI_skeleton.cpython-36.pyc
app/taggingUI/__pycache__/taggingUI_app.cpython-36.pyc
app/taggingUI/__pycache__/selectCSVHeadersUI_skeleton.cpython-36.pyc
app/taggingUI/__pycache__/selectCSVHeadersUI_app.cpython-36.pyc
app/taggingUI/__pycache__/openFilesUI_skeleton.cpython-36.pyc
app/taggingUI/__pycache__/openFilesUI_app.cpython-36.pyc
app/__pycache__/test_skeleton.cpython-36.pyc
app/__pycache__/n_grame_ui_skeleton.cpython-36.pyc
app/__pycache__/helper_objects.cpython-36.pyc
app/__pycache__/__init__.cpython-36.pyc
.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml
.idea/mlp.iml
.idea/misc.xml
