include *.md *.rst *.ui
recursive-include nestor/datasets/*
recursive-include source *
recursive-include docs *
include requirements/*.txt
include nestor/datasets/*.csv
include nestor/ui/*
include nestor/store_data/*.yaml
include nestor/settings.yaml
include nestor/dash/templates/*.html
include nestor/dash/templates/includes/*.html
include nestor/dash/static/*
include version.py