<div style='overflow-y: scroll; height:600px;'><table border="1" class="dataframe table table-striped">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>mach</th>
      <th>date_received</th>
      <th>issue</th>
      <th>info</th>
      <th>tech</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>17</th>
      <td>A14</td>
      <td>2015-03-09</td>
      <td>Bar loader tray bent by forktruck</td>
      <td>Bent back and replaced screws</td>
      <td>michele_williams</td>
    </tr>
    <tr>
      <th>27</th>
      <td>A14</td>
      <td>2015-03-17</td>
      <td>Saw attachment -short saw life</td>
      <td>Replaced saw attachment with backup attachment...</td>
      <td>dylan_miller</td>
    </tr>
    <tr>
      <th>32</th>
      <td>A14</td>
      <td>2015-03-18</td>
      <td>Inverter guard broken</td>
      <td>Welded</td>
      <td>lisa_hensley</td>
    </tr>
    <tr>
      <th>33</th>
      <td>A14</td>
      <td>2015-03-18</td>
      <td>Accumulator check / dropping parts at saw</td>
      <td>Checked accumulator -OK at 30bar</td>
      <td>nathan_maldonado</td>
    </tr>
    <tr>
      <th>139</th>
      <td>A14</td>
      <td>2015-04-07</td>
      <td>Brushing requires LH rotation</td>
      <td>Replaced brushing unit and lead screw for LH r...</td>
      <td>lisa_hensley, monica_herrera</td>
    </tr>
    <tr>
      <th>143</th>
      <td>A14</td>
      <td>2015-04-08</td>
      <td>Loose fitting on inverter -operator afraid to ...</td>
      <td>Tensioned fitting</td>
      <td>cristian_santos</td>
    </tr>
    <tr>
      <th>144</th>
      <td>A14</td>
      <td>2015-04-08</td>
      <td>Inverter push rod will not retract</td>
      <td>Pulled Invert valve from H11 (under setup) val...</td>
      <td>michele_williams</td>
    </tr>
    <tr>
      <th>150</th>
      <td>A14</td>
      <td>2015-04-09</td>
      <td>Inverter faulting ST2 fault</td>
      <td>Swapped inverter valve with H11</td>
      <td>michele_williams</td>
    </tr>
    <tr>
      <th>256</th>
      <td>A14</td>
      <td>2015-05-07</td>
      <td>Bearings on saw motor bad</td>
      <td>Replaced motor -bad bearings on output shaft</td>
      <td>michele_williams</td>
    </tr>
    <tr>
      <th>281</th>
      <td>A14</td>
      <td>2015-05-13</td>
      <td>Check, Charge , and Tag Accumulator</td>
      <td>Two accumulators low at 20bar -Charged to 30bar</td>
      <td>nathan_maldonado</td>
    </tr>
    <tr>
      <th>334</th>
      <td>A14</td>
      <td>2015-05-22</td>
      <td>Inverter guard broken</td>
      <td>Welded and returned to GD</td>
      <td>lisa_hensley</td>
    </tr>
    <tr>
      <th>440</th>
      <td>A14</td>
      <td>2015-06-23</td>
      <td>Hyd leaking from Pwer Pack</td>
      <td>Replaced O-ring ant union to accumulator</td>
      <td>cristian_santos</td>
    </tr>
    <tr>
      <th>576</th>
      <td>A14</td>
      <td>2015-07-28</td>
      <td>Loading valve spraying hydraulic oil</td>
      <td>Replaced O-Rings behind lucifer valve on loade...</td>
      <td>michele_williams</td>
    </tr>
    <tr>
      <th>579</th>
      <td>A14</td>
      <td>2015-07-29</td>
      <td>Hydraulic leak at loader valve</td>
      <td>REPLACED Lucifer valve</td>
      <td>nathan_maldonado</td>
    </tr>
    <tr>
      <th>615</th>
      <td>A14</td>
      <td>2015-08-05</td>
      <td>Drill Detector St#2 INOP</td>
      <td>Stroke not set properly -Operator level</td>
      <td>michele_williams</td>
    </tr>
    <tr>
      <th>629</th>
      <td>A14</td>
      <td>2015-08-06</td>
      <td>Brush unit motor falling off unit</td>
      <td>Bolted back in place -Operator level</td>
      <td>dylan_miller</td>
    </tr>
    <tr>
      <th>662</th>
      <td>A14</td>
      <td>2015-08-14</td>
      <td>Parts tracking INOP</td>
      <td>No issue -Operator hand loaded a part into inv...</td>
      <td>michele_williams</td>
    </tr>
    <tr>
      <th>663</th>
      <td>A14</td>
      <td>2015-08-14</td>
      <td>Brush unit stuck forward</td>
      <td>Unit wound in too far -reset</td>
      <td>michele_williams</td>
    </tr>
    <tr>
      <th>700</th>
      <td>A14</td>
      <td>2015-08-19</td>
      <td>Brush unit INOP</td>
      <td>Brushing unit jammed forward (Again) Reset and...</td>
      <td>dylan_miller</td>
    </tr>
    <tr>
      <th>706</th>
      <td>A14</td>
      <td>2015-08-20</td>
      <td>Inverter stuck forward</td>
      <td>Chip caught in Hyd orifice pressure reducer -C...</td>
      <td>michele_williams</td>
    </tr>
    <tr>
      <th>728</th>
      <td>A14</td>
      <td>2015-08-24</td>
      <td>Brush unit jamming forward</td>
      <td>Say admits to repeatedly winding the unit forw...</td>
      <td>anthony_rodriguez</td>
    </tr>
    <tr>
      <th>760</th>
      <td>A14</td>
      <td>2015-08-31</td>
      <td>Brush unit stuck forward</td>
      <td>Did not observe brushing unit jamming. Adjuste...</td>
      <td>nathan_maldonado</td>
    </tr>
    <tr>
      <th>771</th>
      <td>A14</td>
      <td>2015-09-02</td>
      <td>Feeding faults 6-7 times per bar</td>
      <td>Adjusted fedding pressure valve</td>
      <td>michele_williams</td>
    </tr>
    <tr>
      <th>795</th>
      <td>A14</td>
      <td>2015-09-08</td>
      <td>Check, charge, accumulators</td>
      <td>Ruptured bladder found in accumulator -unit re...</td>
      <td>cristian_santos</td>
    </tr>
    <tr>
      <th>796</th>
      <td>A14</td>
      <td>2015-09-08</td>
      <td>Brushing unit staying forward</td>
      <td>Replaced sensor cable for unit no back sensor</td>
      <td>nathan_maldonado</td>
    </tr>
    <tr>
      <th>849</th>
      <td>A14</td>
      <td>2015-09-16</td>
      <td>St#2 drill detect INOP</td>
      <td>Installed new sensor that arrived 9/23</td>
      <td>nathan_maldonado</td>
    </tr>
    <tr>
      <th>925</th>
      <td>A14</td>
      <td>2015-09-30</td>
      <td>Broken oil line fitting between ST#10 / St#11</td>
      <td>Broken fitting removed</td>
      <td>nathan_maldonado</td>
    </tr>
    <tr>
      <th>933</th>
      <td>A14</td>
      <td>2015-10-01</td>
      <td>Invertter faults -Check accumulators</td>
      <td>Inverter guards improperly installed -Russ cor...</td>
      <td>michele_williams</td>
    </tr>
    <tr>
      <th>970</th>
      <td>A14</td>
      <td>2015-10-14</td>
      <td>HP Coolant pump L fitting leaking</td>
      <td>Repaired</td>
      <td>ethan_adams</td>
    </tr>
    <tr>
      <th>988</th>
      <td>A14</td>
      <td>2015-10-19</td>
      <td>Brush unit INOP</td>
      <td>Replaced damaged plug in wiring</td>
      <td>ethan_adams</td>
    </tr>
    <tr>
      <th>1025</th>
      <td>A14</td>
      <td>2015-10-23</td>
      <td>Brushing unit jammed</td>
      <td>Brake on motor adjusted</td>
      <td>nathan_maldonado</td>
    </tr>
    <tr>
      <th>1093</th>
      <td>A14</td>
      <td>2015-11-09</td>
      <td>Bar not feeding faults</td>
      <td>Replaced C/O saw prox / Replaced loader prox /...</td>
      <td>michele_williams</td>
    </tr>
    <tr>
      <th>1192</th>
      <td>A14</td>
      <td>2015-11-30</td>
      <td>Bar loader INOP -will not move in Auto</td>
      <td>Replaced broken prox on loader valve</td>
      <td>michele_williams</td>
    </tr>
    <tr>
      <th>1286</th>
      <td>A14</td>
      <td>2015-12-14</td>
      <td>St#2 drill detector INOP</td>
      <td>Replaced inop sensor</td>
      <td>angie_henderson</td>
    </tr>
    <tr>
      <th>1287</th>
      <td>A14</td>
      <td>2015-12-14</td>
      <td>Clamp screw stripped</td>
      <td>Removed and replaced</td>
      <td>nathan_maldonado</td>
    </tr>
    <tr>
      <th>1479</th>
      <td>A14</td>
      <td>2016-01-29</td>
      <td>Tool head dropped in base at 1515 !</td>
      <td>Removed base, retrieved tool head, and replace...</td>
      <td>angie_henderson, michele_williams</td>
    </tr>
    <tr>
      <th>1480</th>
      <td>A14</td>
      <td>2016-01-29</td>
      <td>Stock clamp bushing and husing damaged</td>
      <td>Removed broken clamp and cleaned up clamp seat</td>
      <td>michele_williams</td>
    </tr>
    <tr>
      <th>1517</th>
      <td>A14</td>
      <td>2016-02-03</td>
      <td>Tool detection at St#11 INOP</td>
      <td>Replaced sensor</td>
      <td>angie_henderson</td>
    </tr>
    <tr>
      <th>1527</th>
      <td>A14</td>
      <td>2016-02-04</td>
      <td>Accumulator check requested</td>
      <td>Two LP units on this machine -One low and char...</td>
      <td>nathan_maldonado</td>
    </tr>
    <tr>
      <th>1528</th>
      <td>A14</td>
      <td>2016-02-04</td>
      <td>St#2 Tool detection not cycling</td>
      <td>Replaced PCS 100 sensor with used unit</td>
      <td>nathan_maldonado</td>
    </tr>
    <tr>
      <th>1578</th>
      <td>A14</td>
      <td>2016-02-11</td>
      <td>False drill detector faults</td>
      <td>Sensor hub was loose  ----Operator Level</td>
      <td>nathan_maldonado</td>
    </tr>
    <tr>
      <th>1626</th>
      <td>A14</td>
      <td>2016-02-22</td>
      <td>ST#2 Tool detection INOP</td>
      <td>Range not set correctly -Operator level</td>
      <td>michele_williams</td>
    </tr>
    <tr>
      <th>1627</th>
      <td>A14</td>
      <td>2016-02-22</td>
      <td>Brushing unit cycling sporadically</td>
      <td>Replaced relay</td>
      <td>michele_williams</td>
    </tr>
    <tr>
      <th>1631</th>
      <td>A14</td>
      <td>2016-02-23</td>
      <td>Mill head change requested</td>
      <td>Swapped with spare head</td>
      <td>michele_williams</td>
    </tr>
    <tr>
      <th>1638</th>
      <td>A14</td>
      <td>2016-02-24</td>
      <td>Tool detector 'bounces'</td>
      <td>Replaced PCS-100 sensor with NEW</td>
      <td>ethan_adams</td>
    </tr>
    <tr>
      <th>1639</th>
      <td>A14</td>
      <td>2016-02-24</td>
      <td>Saw is hitting the clamp bushing housing</td>
      <td>Replaced bent/damaged boltes holding stock cla...</td>
      <td>michele_williams</td>
    </tr>
    <tr>
      <th>1644</th>
      <td>A14</td>
      <td>2016-02-25</td>
      <td>Please check motor -making noise</td>
      <td>No issue with motor or spindle -Lead left mill...</td>
      <td>angie_henderson</td>
    </tr>
    <tr>
      <th>1673</th>
      <td>A14</td>
      <td>2016-03-01</td>
      <td>Milling saw  motor vibraytion and noise</td>
      <td>Removed mill head but found no play in bearing...</td>
      <td>angie_henderson</td>
    </tr>
    <tr>
      <th>1684</th>
      <td>A14</td>
      <td>2016-03-03</td>
      <td>St#6 HSK clamping screw stripped</td>
      <td>Drilled out damaged screw and replaced whole c...</td>
      <td>angie_henderson</td>
    </tr>
    <tr>
      <th>1712</th>
      <td>A14</td>
      <td>2016-03-09</td>
      <td>Accumulator check requested by Russ</td>
      <td>No issue at 30bar -Both LP Accs</td>
      <td>angie_henderson</td>
    </tr>
  </tbody>
</table></div>