<div style='overflow-y: scroll; height:600px;'><table border="1" class="dataframe table table-striped">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>mach</th>
      <th>date_received</th>
      <th>issue</th>
      <th>info</th>
      <th>tech</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>A5</td>
      <td>2015-01-14</td>
      <td>No power</td>
      <td>Replaced pin in pendant and powered machine -P...</td>
      <td>angie_henderson, michele_williams</td>
    </tr>
    <tr>
      <th>1</th>
      <td>QA</td>
      <td>2015-02-27</td>
      <td>Smartscope harness broken</td>
      <td>Parts ordered / Tech repaired</td>
      <td>gina_moore, tech</td>
    </tr>
    <tr>
      <th>2</th>
      <td>A18</td>
      <td>2015-02-27</td>
      <td>Check / Charge Accumulators</td>
      <td>Where OK</td>
      <td>nathan_maldonado</td>
    </tr>
    <tr>
      <th>3</th>
      <td>A23</td>
      <td>2015-02-27</td>
      <td>Hyd leak at saw atachment</td>
      <td>Replaced seal in saw attachment but still leak...</td>
      <td>michele_williams</td>
    </tr>
    <tr>
      <th>4</th>
      <td>A24</td>
      <td>2015-02-27</td>
      <td>CS1008 setup change over / from ARC1004</td>
      <td>Completed / Threading unit rewired</td>
      <td>ethan_adams, michele_williams</td>
    </tr>
    <tr>
      <th>5</th>
      <td>A27</td>
      <td>2015-02-27</td>
      <td>Gears on saw attachment tight and grinding per...</td>
      <td>Replaced saw attachment with rebuilt unit / Re...</td>
      <td>michele_williams</td>
    </tr>
    <tr>
      <th>6</th>
      <td>A33</td>
      <td>2015-02-27</td>
      <td>Check and charge Accumulators</td>
      <td>Checked and charged</td>
      <td>cristian_santos</td>
    </tr>
    <tr>
      <th>7</th>
      <td>A8</td>
      <td>2015-02-27</td>
      <td>St# 14 milling spindle repairs</td>
      <td>Reapired</td>
      <td>michele_williams</td>
    </tr>
    <tr>
      <th>8</th>
      <td>B2</td>
      <td>2015-02-27</td>
      <td>Hydraulic leak</td>
      <td>Replaced ruptured hydraulic line Side B</td>
      <td>gina_moore, dylan_miller</td>
    </tr>
    <tr>
      <th>9</th>
      <td>B3</td>
      <td>2015-02-27</td>
      <td>Turrets leaking A &amp; B</td>
      <td>Turrets removed and cleaned of chhips</td>
      <td>nathan_maldonado</td>
    </tr>
    <tr>
      <th>10</th>
      <td>B5</td>
      <td>2015-02-27</td>
      <td>Spindle carrier not indexing / Over Feed</td>
      <td>NaN</td>
      <td>gina_moore, dylan_miller</td>
    </tr>
    <tr>
      <th>11</th>
      <td>A69</td>
      <td>2015-03-02</td>
      <td>PO will not open / close</td>
      <td>Allen Bradley plunger switch replaced</td>
      <td>dylan_miller</td>
    </tr>
    <tr>
      <th>12</th>
      <td>A10</td>
      <td>2015-03-02</td>
      <td>Top cross drill leaking hydraulic</td>
      <td>Unit swapped with rebuilt cross drill unit</td>
      <td>c, jamie_arnold, nathan_maldonado</td>
    </tr>
    <tr>
      <th>13</th>
      <td>A20</td>
      <td>2015-03-02</td>
      <td>Accumulator check</td>
      <td>Checked and charged</td>
      <td>nathan_maldonado</td>
    </tr>
    <tr>
      <th>14</th>
      <td>B2</td>
      <td>2015-03-02</td>
      <td>Conveyor Jam</td>
      <td>Hand cranked to free minor jam</td>
      <td>cristian_santos</td>
    </tr>
    <tr>
      <th>15</th>
      <td>B6</td>
      <td>2015-03-02</td>
      <td>Hydraulic Motor overheat Alarm</td>
      <td>Hydraulic pum replaced / Motor was swapped also</td>
      <td>gina_moore, dylan_miller</td>
    </tr>
    <tr>
      <th>16</th>
      <td>SH</td>
      <td>2015-03-03</td>
      <td>Smog Hog leaking</td>
      <td>Cleaned cells and exhaust vent</td>
      <td>michele_williams</td>
    </tr>
    <tr>
      <th>17</th>
      <td>A14</td>
      <td>2015-03-09</td>
      <td>Bar loader tray bent by forktruck</td>
      <td>Bent back and replaced screws</td>
      <td>michele_williams</td>
    </tr>
    <tr>
      <th>18</th>
      <td>B1</td>
      <td>2015-03-14</td>
      <td>Transport dropping parts</td>
      <td>Programing adjustments</td>
      <td>tommy_walter</td>
    </tr>
    <tr>
      <th>19</th>
      <td>B4</td>
      <td>2015-03-14</td>
      <td>Chip conveyor INOP</td>
      <td>Removed conveyor and belt on 3/17 -Returned bo...</td>
      <td>cristian_santos</td>
    </tr>
    <tr>
      <th>20</th>
      <td>AIM RM 1</td>
      <td>2015-03-16</td>
      <td>Vacuum pump INOP</td>
      <td>Replaced pump</td>
      <td>nathan_maldonado</td>
    </tr>
    <tr>
      <th>21</th>
      <td>A10</td>
      <td>2015-03-16</td>
      <td>Top cross drill unit bearings are bad</td>
      <td>Roland rebuilt unit on shelf / Gio and Steve i...</td>
      <td>tricia_valencia, jamie_arnold, zachary_hicks</td>
    </tr>
    <tr>
      <th>22</th>
      <td>A11</td>
      <td>2015-03-16</td>
      <td>Brush unit stuck forward</td>
      <td>Prox snsor for depth adjusted / Plug and cable...</td>
      <td>michele_williams, nathan_maldonado</td>
    </tr>
    <tr>
      <th>23</th>
      <td>A3</td>
      <td>2015-03-16</td>
      <td>Saw attachment -short saw life</td>
      <td>Replaced saw attachment with backup attachment...</td>
      <td>michele_williams</td>
    </tr>
    <tr>
      <th>24</th>
      <td>A3</td>
      <td>2015-03-16</td>
      <td>Chip conveyor INOP</td>
      <td>Ran back and forth -Cleared</td>
      <td>lisa_hensley</td>
    </tr>
    <tr>
      <th>25</th>
      <td>Sinico</td>
      <td>2015-03-16</td>
      <td>Unit 2 chamfer head belt broken from 3S collision</td>
      <td>Replaced drive belt</td>
      <td>dylan_miller</td>
    </tr>
    <tr>
      <th>26</th>
      <td>ES5</td>
      <td>2015-03-17</td>
      <td>Adjusting screw broken pos 2 in tool head</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>27</th>
      <td>A14</td>
      <td>2015-03-17</td>
      <td>Saw attachment -short saw life</td>
      <td>Replaced saw attachment with backup attachment...</td>
      <td>dylan_miller</td>
    </tr>
    <tr>
      <th>28</th>
      <td>A19</td>
      <td>2015-03-17</td>
      <td>St#11 spindle keeps losing drills</td>
      <td>Wrong drive pulleys on spindle -Correct pulley...</td>
      <td>ethan_adams</td>
    </tr>
    <tr>
      <th>29</th>
      <td>A8</td>
      <td>2015-03-17</td>
      <td>St# 6V mill not running</td>
      <td>Replaced GR motor -broken drive inside gearbox</td>
      <td>ethan_adams, michele_williams</td>
    </tr>
    <tr>
      <th>30</th>
      <td>B2</td>
      <td>2015-03-17</td>
      <td>Side B hydraulic leak</td>
      <td>Replaced hydraulic hose / base drained with ne...</td>
      <td>dylan_miller</td>
    </tr>
    <tr>
      <th>31</th>
      <td>T105</td>
      <td>2015-03-17</td>
      <td>Machine will not stay running</td>
      <td>Gearbox cleaned out and prox sensor replaced</td>
      <td>gina_moore, dylan_miller</td>
    </tr>
    <tr>
      <th>32</th>
      <td>A14</td>
      <td>2015-03-18</td>
      <td>Inverter guard broken</td>
      <td>Welded</td>
      <td>lisa_hensley</td>
    </tr>
    <tr>
      <th>33</th>
      <td>A14</td>
      <td>2015-03-18</td>
      <td>Accumulator check / dropping parts at saw</td>
      <td>Checked accumulator -OK at 30bar</td>
      <td>nathan_maldonado</td>
    </tr>
    <tr>
      <th>34</th>
      <td>A29</td>
      <td>2015-03-18</td>
      <td>St#12 HSK tool clamp loose</td>
      <td>Replaced HSK clamp screw</td>
      <td>michele_williams</td>
    </tr>
    <tr>
      <th>35</th>
      <td>A3</td>
      <td>2015-03-18</td>
      <td>Losing parts at exit chute</td>
      <td>Operator adjusted chute -reported ok</td>
      <td>cristian_santos</td>
    </tr>
    <tr>
      <th>36</th>
      <td>B1</td>
      <td>2015-03-18</td>
      <td>Adjust jammed chip stripper on conveyor</td>
      <td>Adjusted chip conveyor belt tension and cleare...</td>
      <td>cristian_santos</td>
    </tr>
    <tr>
      <th>37</th>
      <td>B18</td>
      <td>2015-03-18</td>
      <td>Alarm  765053 bar clamping pressure still pres...</td>
      <td>Cleared on 3/19</td>
      <td>tommy_walter</td>
    </tr>
    <tr>
      <th>38</th>
      <td>B5</td>
      <td>2015-03-18</td>
      <td>Hydraulic leak in spindle carrier</td>
      <td>Removed and replaced broken bolts in spindle #...</td>
      <td>dylan_miller</td>
    </tr>
    <tr>
      <th>39</th>
      <td>TK4</td>
      <td>2015-03-18</td>
      <td>Sensors on spindle INOP</td>
      <td>Sensors and cables replaced with Tony Lobo assist</td>
      <td>gina_moore</td>
    </tr>
    <tr>
      <th>40</th>
      <td>A11</td>
      <td>2015-03-19</td>
      <td>St#13 motor smoking</td>
      <td>JPM provided motor / Luis Vargas installed</td>
      <td>michele_williams, carla_gray, v</td>
    </tr>
    <tr>
      <th>41</th>
      <td>A12</td>
      <td>2015-03-19</td>
      <td>Hydraulic leak at St#11 valve plate</td>
      <td>Removed valve plate and replaced O-Rings</td>
      <td>ethan_adams</td>
    </tr>
    <tr>
      <th>42</th>
      <td>A23</td>
      <td>2015-03-19</td>
      <td>Saw unit will INOP</td>
      <td>Prox wiring replaced</td>
      <td>michele_williams</td>
    </tr>
    <tr>
      <th>43</th>
      <td>A8</td>
      <td>2015-03-19</td>
      <td>Remove Bio-Hyd from PP -replace with ISO 46 hy...</td>
      <td>JPM swapped.</td>
      <td>michele_williams</td>
    </tr>
    <tr>
      <th>44</th>
      <td>B19</td>
      <td>2015-03-19</td>
      <td>Breaker tripping / elect burn smell</td>
      <td>Breaker reset -Norm monitoring</td>
      <td>dylan_miller</td>
    </tr>
    <tr>
      <th>45</th>
      <td>RM227</td>
      <td>2015-03-19</td>
      <td>Stripped screw head in regulating wheel</td>
      <td>Removed screw by drilling it out</td>
      <td>dylan_miller</td>
    </tr>
    <tr>
      <th>46</th>
      <td>TK3</td>
      <td>2015-03-19</td>
      <td>Conveyor sensor alarm??</td>
      <td>Pete Carello corrected</td>
      <td>justin_baker, c</td>
    </tr>
    <tr>
      <th>47</th>
      <td>TK4</td>
      <td>2015-03-19</td>
      <td>HP coolant pressure at 75psi</td>
      <td>Bad gauge / Low pressure lines cleaned ou</td>
      <td>nathan_maldonado</td>
    </tr>
    <tr>
      <th>48</th>
      <td>EWAG</td>
      <td>2015-03-20</td>
      <td>Meauring arm slamming / pneumatic shock absorber?</td>
      <td>Air leak in pneumatic actuator repaired.</td>
      <td>gina_moore</td>
    </tr>
    <tr>
      <th>49</th>
      <td>A11</td>
      <td>2015-03-20</td>
      <td>Stuck in 1/2 table w numerous faults</td>
      <td>Brushing unit motor wiring causing issues. Rep...</td>
      <td>michele_williams</td>
    </tr>
  </tbody>
</table></div>