{% extends 'layout.html' %}

{% block body %}
<div class="container">
    <h1>About Us</h1>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nunc lectus, luctus et laoreet vel, accumsan eu elit. Vestibulum vehicula congue maximus. Donec condimentum mattis metus non blandit. Nam sit amet nulla vitae libero aliquam gravida vel vel lacus. Cras libero libero, vehicula placerat pretium gravida, tempus maximus tellus. Integer vitae ipsum non neque semper cursus. Phasellus et enim et eros fermentum egestas sed id neque. Quisque in orci viverra, fringilla erat ut, dignissim dui. Donec blandit nisi ut metus auctor consequat. Maecenas ut dolor augue. Vestibulum vel leo porta, elementum ipsum ac, lobortis elit. Vivamus eleifend nisl odio, fringilla molestie quam imperdiet et. Integer ullamcorper nisi eget urna aliquam aliquet. Ut at leo id dui aliquam finibus. Suspendisse ac placerat velit, lobortis lobortis elit. </p>
</div>
{% endblock %}