<!--Author: Lela Bones
    This document conatins the dashboard contents-->
{% extends 'layout.html' %}

{% block body %}

    <h1 class="page-header">Visualizations</h1>
    <div class="alert alert-warning" role="alert">
        Warning: Machine A14 has had 39 replaces in total!
    </div>
<!--     <div class="row placeholders col-sm-offset-3 col-md-offset-3">
        <div class="col-xs-6 col-sm-3 placeholder">
             <a href="/bar"><img src="/static/bar_graph.png" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail"></a>
            <h4>Bar Graph</h4>
            <span class="text-muted">Here you can...</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <a href="/node"><img src="/static/node_graph.png" height="200" class="img-responsive" alt="Generic placeholder thumbnail"></a>
            <h4>Node-Link Diagram</h4>
            <span class="text-muted">Here you can...</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <a href="/flow"><img src="/static/flow_graph.png" height="200" class="img-responsive" alt="Generic placeholder thumbnail"></a>
            <h4>Flow Diagram</h4>
            <span class="text-muted">Something else</span>
        </div>
    </div> -->
    <div id="piechart"></div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
        // Load google charts
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        // Draw the chart and set the chart values
        function drawChart() {
          var data = google.visualization.arrayToDataTable([
          ['Machines', 'Percent of Work Orders'],
          ['A14', 8],
          ['A34', 2],
          ['B19', 4],
        ]);

          // Optional; add a title and set the width and height of the chart
          var options = {'title':'Excavator Machines', 'height':600};

          // Display the chart inside the <div> element with id="piechart"
          var chart = new google.visualization.PieChart(document.getElementById('piechart'));
          chart.draw(data, options);
        }
    </script>

    <div>
        {% include 'includes/_data.html' %}
    </div>
{% endblock %}
