<!--Author: Lela Bones
    This document conatins the homepage contents-->
{% extends 'layout.html' %}

{% block body %}
 <div class="jumbotron text-center">
        <h1>Welcome to the Nestor Dashboard</h1>
        <p class="lead">Here you will be able to visualize the data that you extracted </p>
        <p class="lead">from your maintenance logs using our Nestor Taggin App .</p>
 </div>

     <form method=post enctype=multipart/form-data>
      <input type=file name=file>
      <input type=submit value=Upload>
    </form>
{% endblock %}