<!--Author: Lela Bones
    This document conatins the dashboard contents-->
{% extends 'layout.html' %}

{% block body %}
<h1>Node Diagram</h1>
<form action="/node">
<select name="feature_name">
	{% for feature in feature_names %}
		{% if feature == current_feature_name %}
			<option selected value="{{ feature }}">{{ feature }}</option> 
		{% else %} 
			<option value="{{ feature }}">{{ feature }}</option> 
		{% endif %}
	{% endfor %}
</select>
    <input type="submit">
</form>
{{ script|safe }}
{% endblock %}